<temp>inner_header</temp>
<div id="body" data-role="page">
<header data-role="header">
	<a href="#nav-panel" class="ui-nodisc-icon ui-alt-icon ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all" data-role="button" role="button">Menu</a>
	<h1><a href="index.php" data-ajax="false" role="heading">首頁 Logo</a></h1>
	<a href="javascript:void(0);" id="search-button" onclick="toggle_search();" class="jqm-search-link ui-nodisc-icon ui-alt-icon ui-btn-right ui-btn ui-icon-search ui-btn-icon-notext ui-corner-all" data-role="button" role="button">Search</a>
	<div class="clear"></div>
	<div id="search-panel" class="search-panel" style="display: none;">
		<input data-type="search" placeholder="Search 髮型師/Salon/地區..." />
	</div>
</header>
<div data-role="panel" data-position="left" id="nav-panel">
	<div class="nav-panel-header"></div>
	<ul>
		<li><a href="hair.php">所有髮型</a></li>
		<li><a href="nearby_salon.php">附近的Salon</a></li>
		<li><a href="stylist.php">所有髮型師</a></li>
		<li><a href="news.php">最新資訊</a></li>
		<li><a href="booking.php">預約剪髮</a></li>
		<li class="hr"></li>
		<li><a href="my_booking.php">我的預約</a></li>
		<li><a href="comment.php">服務評價</a></li>
		<li><a href="try_hair.php">預覽髮型</a></li>
		<li><a href="my_collection.php">我的收藏</a></li>
	</ul>
</div>
